*{
  font-family: 'Sen';
}
body{
  background-image: url(/static/IMAGE/im.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.head h1{
  text-align: center;
  text-decoration: underline;
}
.side{
  float: right;
  margin: 10px;
  margin-right: 200px;
}
form{
  background-color: wheat;
  width: 500px;
  height: 300px;
  margin-left: 80px;
  padding: 70px;
  margin: 75px;
}
.submit{
  font-size: 50px;
}